In [20]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn import metrics
import matplotlib.pyplot as plt

In [21]:
df = pd.read_csv("C://myDataSets//auto-mpg-updated.csv")
print(df)

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0          8         307.0       130.0    3504          12.0
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
..    ...        ...           ...         ...     ...           ...
393  27.0          4         140.0        86.0    2790          15.6
394  44.0          4          97.0        52.0    2130          24.6
395  32.0          4         135.0        84.0    2295          11.6
396  28.0          4         120.0        79.0    2625          18.6
397  31.0          4         119.0        82.0    2720          19.4

     model-year  origin                   car_name
0            70       1  chevrolet chevelle malibu
1            70       1          buick skylark 320
2            70       1         plymouth satellite
3            70       1              amc rebel sst
4            70       1                ford torino
..          ...     ...                        ...
393          82       1            ford mustang gl
394          82       2                  vw pickup
395          82       1              dodge rampage
396          82       1                ford ranger
397          82       1                 chevy s-10

[398 rows x 9 columns]

In [22]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model-year,origin,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino

In [23]:
# we are predicting mpg
x = df.drop(columns=["mpg", "car_name"])
y = df["mpg"]

print(x.shape)
print(y.shape)

(398, 7)
(398,)

In [24]:
print(x.dtypes)

cylinders         int64
displacement    float64
horsepower      float64
weight            int64
acceleration    float64
model-year        int64
origin            int64
dtype: object

In [25]:
print(x.dtypes.unique())

[dtype('int64') dtype('float64')]

In [26]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

lnreg = linear_model.LinearRegression()
lnreg.fit(x_train, y_train)

y = lnreg.predict(x_test)

In [27]:
print(y)
print("**************************")
print(y_test)

[32.87903659 29.58103548 21.38053784 16.78872133 12.4926795  27.18365871
 27.94037411  9.75487512 16.87827833 21.65111237 12.78702336 36.16807405
 25.14528416 13.68592491 24.01892376  6.41108    29.57043437 23.56818586
 16.32235762 36.27714995 23.72419892 18.99052188 28.71581005 28.75050178
 14.99214995 34.63031322 25.48591674 24.9898859  21.96521493  8.81993761
 28.48035862 34.87097733 20.51256226 26.05958386 34.25749356 11.9367727
 22.91667006 21.71324457 12.33668021 26.75030713 26.23909373 27.40804203
 20.1707774   7.21086163 24.54425886 34.94466999 26.79060062 24.20752547
 22.49757038 27.57736614 22.69316977 33.68407814 32.67884635 10.93346997
 27.7165398  10.01211101 19.76260459 29.89693105 23.18704613 20.4986687
 16.14229022 32.089565   24.05015496 20.5097529  20.93197827 25.50822363
 25.15532757 32.41019761 28.06409393 12.72790971 31.32249305 13.01485807
 10.03264069 19.44255878 27.38298937 22.11455647 20.54145395 29.53170393
 29.35520948 20.07934116]
**************************
198    33.0
396    28.0
33     19.0
208    13.0
93     14.0
       ...
249    19.9
225    17.5
367    28.0
175    29.0
285    17.0
Name: mpg, Length: 80, dtype: float64

In [28]:
#model parameters
#lnreg.get_parameters()
#print('Co-efficient of LR', lnreg.coef_)
#print('Intercept of LR model', lnreg.intercept_)

#Check Modal Performance
print('Mean Square Error', metrics.mean_squared_error(y_test, y))
print('Mean Absolute Error', metrics.mean_absolute_error(y_test, y))
print('Model R^2 Square value', metrics.r2_score(y_test, y))

Mean Square Error 8.19969284894647
Mean Absolute Error 2.2535279834458626
Model R^2 Square value 0.8474942310286894