In [13]:
import pandas as pd

dummy_df = pd.read_csv('./dataset/dummy_ds.csv')
print(dummy_df.shape)
dummy_df.head();

(44, 6)

In [9]:
data, target = dummy_df.drop(columns="employed"), dummy_df["employed"];

# Same as :
# data = dummy_df.drop("employed")
# target = dummy_df["employed"]
# in two separate lines

data.head();

In [19]:
print(target.head());

0    y
1    n
2    n
3    y
4    y
Name: employed, dtype: object

In [20]:
data.dtypes

age           int64
education    object
region       object
savings       int64
house        object
dtype: object

In [17]:
numerical_data = ["age", "savings"]
data[numerical_data].head()

   age  savings
0   23    13000
1   67    25013
2   34    13000
3   56     4000
4   78    12000